<html>
	<head>
		<title>Encrypt-r-us</title>
	</head>
	<body>
		<h1>Encrypt-R-us</h1>

		<form action="/decrypt" method="POST">
			<p>Naam:</p>
			<input type="text" name="name">
			<p>Geheime tekst:</p>
			<input type="text" name="secrettext" value="<%= crypted %>">
			<p>Wachtwoord:</p>
			<input type="secret" name="password">
			<br>
			<br>
			<input type="submit">
		</form>
	</body>
</html>